body{
    background-image: url(/static/images/index.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
#button{
position: absolute;
top: 350px;
right: 615px;
border-radius: 50px;
border: none;
height: 70px;
width: 300px;
font-family: "Press Start 2P", sans-serif;
font-size: x-large;
background-color: #640604;
background-image: url(/static/images/indexbg.png);
background-size: contain;
color: white;

}

#quizForm {
display: none; 
}

#button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); /* Move up slightly */
}