body{
    background-color: #5c4bad;
    background-image: url(/static/images/openquiz.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#div1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 270px;
}

img{
    height: 150px;
    width: 200px;
    
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    transform: translateY(-5px); /* Move up slightly */
}
h1{
    font-family: "Press Start 2P", sans-serif;
    color: black;
    
}
#div2{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
h3{
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 18px;
    position: relative;
    padding-right: 30px;
    padding-left: 100px;
    z-index: 1;
    
}
#div-option{
    position: absolute;
    top: 400px;
    left: 200px;
}
#div-option1{
    position: absolute;
    top: 400px;
    left: 640px;
}

#div-option2{
    position: absolute;
    top: 400px;
    left: 1070px;
}
#displayAvatar{
    position: absolute;
}