<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/create.css">
</head>
<body>

    <div>
        <img src="/static/images/createbtn.png" id="image">
        <button id="addbtn"></button>
    </div>

    <!-- Popup -->
    <div id="popup">
        <img src="/static/images/namebtn.png" id="namebtn">
        <input type="text" maxlength="6" placeholder="NAME!" required id="inputBox">
    </div>

    <!-- Folder Container -->
    <div id="folderContainer"></div>

    <script src="/static/js/create.js"></script>
    

</body>
</html>
