<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <a href="{{ url_for('select') }}">
        <button id="button">CLICK ME!</button>
    </a>

    <audio id="clickSound" preload="auto">
        <source src="{{ url_for('static', filename='audio/click2.wav') }}" type="audio/mp4">
    </audio>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>