<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Selection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}">
</head>
<body>

    <div class="container">
        <div class="avatar-container">
            <button id="prev" class="arrowleft"></button> 
            <img id="avatar" src="/static/images/avatar1.png" alt="Avatar">
            <button id="next" class="arrowright"></button>
        </div>
        <form action="{{ url_for('selectquiz') }}" id="switchForm">
            <input type="text" id="username" name="username" placeholder="Enter your name!" maxlength="5" required>
            <input type="hidden" id="selectedAvatar" name="avatar">
            <p id="errorMessage">⚠️ Enter a name!</p>
            <p id="triangle">▲</p>
            <a href="{{ url_for('select') }}">
                <button id="select" type="submit"></button>
            </a>
            
        </form>
    </div>

    <audio id="clickSound" preload="auto">
        <source src="{{ url_for('static', filename='audio/click2.wav') }} type="audio>
    </audio>

    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>

</body>
</html>
